function Cube.new 5
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 2
neg
and
pop argument 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push constant 8
call Array.new 1
pop this 0
push argument 0
push constant 2
call Math.divide 2
neg
pop local 3
push constant 0
pop local 4
push local 3
pop local 2
label WHILE_EXP0
push local 2
push argument 0
lt
not
if-goto WHILE_END0
push local 3
pop local 1
label WHILE_EXP1
push local 1
push argument 0
lt
not
if-goto WHILE_END1
push local 3
pop local 0
label WHILE_EXP2
push local 0
push argument 0
lt
not
if-goto WHILE_END2
push local 4
push this 0
add
push local 0
push local 1
push local 2
call Point3D.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 4
push constant 1
add
pop local 4
push local 0
push argument 0
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push local 1
push argument 0
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 2
push argument 0
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Cube.resetToInitial 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 8
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Point3D.resetToInitial 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Cube.saveTransformation 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 8
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Point3D.backUpCoordinates 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Cube.yaw 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 8
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
push argument 1
call Point3D.yawFast 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Cube.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 8
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Point3D.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Cube.drawLine 2
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 2
push this 0
add
pop pointer 1
push that 0
pop local 1
push argument 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push local 0
call Point3D.getX 1
add
push this 2
push local 0
call Point3D.getY 1
add
push this 1
push local 1
call Point3D.getX 1
add
push this 2
push local 1
call Point3D.getY 1
add
call Screen.drawLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push this 1
push local 0
call Point3D.getOldX 1
add
push this 2
push local 0
call Point3D.getOldY 1
add
push this 1
push local 1
call Point3D.getOldX 1
add
push this 2
push local 1
call Point3D.getOldY 1
add
call Screen.drawLine 4
pop temp 0
label IF_END0
push constant 0
return
function Cube.draw 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 1
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 0
push constant 2
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 1
push constant 3
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 2
push constant 3
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 4
push constant 5
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 4
push constant 6
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 5
push constant 7
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 6
push constant 7
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 0
push constant 4
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 1
push constant 5
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 2
push constant 6
push argument 1
call Cube.drawLine 4
pop temp 0
push pointer 0
push constant 3
push constant 7
push argument 1
call Cube.drawLine 4
pop temp 0
push constant 0
return
