function Point3D.initialize 0
push constant 0
push constant 0
call Int32.new 2
pop static 0
push constant 0
push constant 0
call Int32.new 2
pop static 1
push constant 0
push constant 0
call Int32.new 2
pop static 2
push constant 0
return
function Point3D.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 0
pop this 6
push argument 1
pop this 7
push argument 2
pop this 8
push argument 0
push constant 0
call Int32.new 2
pop this 3
push argument 1
push constant 0
call Int32.new 2
pop this 4
push argument 2
push constant 0
call Int32.new 2
pop this 5
push pointer 0
return
function Point3D.dispose 0
push argument 0
pop pointer 0
push this 3
call Int32.dispose 1
pop temp 0
push this 4
call Int32.dispose 1
pop temp 0
push this 5
call Int32.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Point3D.resetToInitial 0
push argument 0
pop pointer 0
push this 3
push this 0
push constant 0
call Int32.set 3
pop temp 0
push this 4
push this 1
push constant 0
call Int32.set 3
pop temp 0
push this 5
push this 2
push constant 0
call Int32.set 3
pop temp 0
push constant 0
return
function Point3D.backUpCoordinates 0
push argument 0
pop pointer 0
push this 3
call Int32.getUpper 1
pop this 6
push this 4
call Int32.getUpper 1
pop this 7
push this 5
call Int32.getUpper 1
pop this 8
push constant 0
return
function Point3D.getX 0
push argument 0
pop pointer 0
push this 3
call Int32.getUpper 1
return
function Point3D.getY 0
push argument 0
pop pointer 0
push this 4
call Int32.getUpper 1
return
function Point3D.getZ 0
push argument 0
pop pointer 0
push this 5
call Int32.getUpper 1
return
function Point3D.getOldX 0
push argument 0
pop pointer 0
push this 6
return
function Point3D.getOldY 0
push argument 0
pop pointer 0
push this 7
return
function Point3D.getOldZ 0
push argument 0
pop pointer 0
push this 8
return
function Point3D.yaw 2
push argument 0
pop pointer 0
push argument 1
push static 0
call MathF.cos 2
pop temp 0
push argument 1
push static 1
call MathF.sin 2
pop temp 0
push constant 1
push this 3
add
pop pointer 1
push that 0
pop local 0
push constant 1
push this 4
add
pop pointer 1
push that 0
pop local 1
push this 3
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 3
push static 0
call Int32.multiply 2
pop temp 0
push this 4
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 4
push static 1
call Int32.multiply 2
pop temp 0
push this 4
call Int32.negate 1
pop temp 0
push this 3
push this 4
call Int32.add 2
pop temp 0
push this 4
push local 1
call Int32.setLowerWithSignExtend 2
pop temp 0
push this 4
push static 0
call Int32.multiply 2
pop temp 0
push static 2
push local 0
call Int32.setLowerWithSignExtend 2
pop temp 0
push static 2
push static 1
call Int32.multiply 2
pop temp 0
push this 4
push static 2
call Int32.add 2
pop temp 0
push constant 0
return
function Point3D.yawFast 4
push argument 0
pop pointer 0
push argument 1
push static 0
call MathF.cos 2
pop temp 0
push argument 1
push static 1
call MathF.sin 2
pop temp 0
push this 3
call Int32.getUpper 1
pop local 0
push this 4
call Int32.getUpper 1
pop local 1
push static 0
call Int32.getUpper 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
call Int32.getLower 1
pop local 2
push static 1
call Int32.getUpper 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
call Int32.getLower 1
pop local 3
push this 3
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 3
push local 2
call Int32.multiplyInt 2
pop temp 0
push this 4
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 4
push local 3
call Int32.multiplyInt 2
pop temp 0
push this 4
call Int32.negate 1
pop temp 0
push this 3
push this 4
call Int32.add 2
pop temp 0
push this 4
push local 1
call Int32.setLowerWithSignExtend 2
pop temp 0
push this 4
push local 2
call Int32.multiplyInt 2
pop temp 0
push static 2
push local 0
call Int32.setLowerWithSignExtend 2
pop temp 0
push static 2
push local 3
call Int32.multiplyInt 2
pop temp 0
push this 4
push static 2
call Int32.add 2
pop temp 0
goto IF_END1
label IF_FALSE1
push static 1
call Int32.negate 1
pop temp 0
push static 1
call Int32.getLower 1
pop local 3
push this 3
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 3
push local 2
call Int32.multiplyInt 2
pop temp 0
push this 4
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 4
push local 3
call Int32.multiplyInt 2
pop temp 0
push this 3
push this 4
call Int32.add 2
pop temp 0
push this 4
push local 1
call Int32.setLowerWithSignExtend 2
pop temp 0
push this 4
push local 2
call Int32.multiplyInt 2
pop temp 0
push static 2
push local 0
call Int32.setLowerWithSignExtend 2
pop temp 0
push static 2
push local 3
call Int32.multiplyInt 2
pop temp 0
push static 2
call Int32.negate 1
pop temp 0
push this 4
push static 2
call Int32.add 2
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push static 0
call Int32.negate 1
pop temp 0
push static 0
call Int32.getLower 1
pop local 2
push static 1
call Int32.getUpper 1
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 1
call Int32.getLower 1
pop local 3
push this 3
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 3
push local 2
call Int32.multiplyInt 2
pop temp 0
push this 4
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 4
push local 3
call Int32.multiplyInt 2
pop temp 0
push this 3
push this 4
call Int32.add 2
pop temp 0
push this 3
call Int32.negate 1
pop temp 0
push this 4
push local 1
call Int32.setLowerWithSignExtend 2
pop temp 0
push this 4
push local 2
call Int32.multiplyInt 2
pop temp 0
push this 4
call Int32.negate 1
pop temp 0
push static 2
push local 0
call Int32.setLowerWithSignExtend 2
pop temp 0
push static 2
push local 3
call Int32.multiplyInt 2
pop temp 0
push this 4
push static 2
call Int32.add 2
pop temp 0
goto IF_END2
label IF_FALSE2
push static 1
call Int32.negate 1
pop temp 0
push static 1
call Int32.getLower 1
pop local 3
push this 3
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 3
push local 2
call Int32.multiplyInt 2
pop temp 0
push this 3
call Int32.negate 1
pop temp 0
push this 4
call Int32.upperToLowerWithSignExtend 1
pop temp 0
push this 4
push local 3
call Int32.multiplyInt 2
pop temp 0
push this 3
push this 4
call Int32.add 2
pop temp 0
push this 4
push local 1
call Int32.setLowerWithSignExtend 2
pop temp 0
push this 4
push local 2
call Int32.multiplyInt 2
pop temp 0
push static 2
push local 0
call Int32.setLowerWithSignExtend 2
pop temp 0
push static 2
push local 3
call Int32.multiplyInt 2
pop temp 0
push this 4
push static 2
call Int32.add 2
pop temp 0
push this 4
call Int32.negate 1
pop temp 0
label IF_END2
label IF_END0
push constant 0
return
function Point3D.rotate 2
push argument 0
pop pointer 0
push argument 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
call Point3D.yawFast 2
pop temp 0
goto IF_END0
label IF_FALSE0
push this 3
pop local 0
push this 4
pop local 1
push argument 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
pop this 4
push this 5
pop this 3
push pointer 0
push argument 1
call Point3D.yawFast 2
pop temp 0
goto IF_END1
label IF_FALSE1
push this 4
pop this 3
push this 5
pop this 4
push pointer 0
push argument 1
call Point3D.yawFast 2
pop temp 0
label IF_END1
push local 0
pop this 3
push local 1
pop this 4
label IF_END0
push constant 0
return
